@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #6E1D1B;
  --color-accent: #EA2727;
  --color-highlight: #FBD748;
  --color-neutral: #f7fafc;
  --color-dark: #1a1a1a;

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-neutral);
    color: var(--color-dark);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: var(--color-primary);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}